@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome Dino Lovers";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Dino</h1>
    <img  class="col-9" src="~/img/dinos.jpg" alt="Dinosaurs" width="700" height="500">
</div>
